.recipe-form {
  background: #212529;
  color: #FFFF;
 padding-bottom: 5rem; /* Adjust the value to match the height of your Navbar */
}

.invalid-input {
  color: #f10303;
}

.recipe-output {
  background-color: #F0EAD6; /* Eggshell white */
  color: #000000; /* Black text */
  border: 2px solid #000000; /* Black border */
  padding: 20px; /* Some padding */
}

.recipe-container {
  position: relative;
}

.recipe-clear-btn {
  position: absolute;
  right:0;
  bottom: -45px;
}